body {
 background-image: url("arduinoimage.jfif");
 background-size: cover;
}
h1
	{ 
		font-style: normal;
		text-align: left;
		font-family: Impact;

	 }
p {
		font-style: initial;
		text-align:left;
		font-family: sans-serif;
	}
.footer {
    position:absolute;
    text-align: center;
    bottom:0;
    width:99%;
    font-family: cursive;
}